/* header and navbar */
#navbar{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f3234;
    display: flex;
    text-align: center;
}

/* header */
header{
    width: 50%;
}

/* navbar */
nav{
    width: 50%;
}

/* navbar links */
nav a{
    float: left;
    padding: 1rem 0;
    width: 25%;
}

/* highlight navbar page link on mouse hover */
nav a:hover{
    background-color: #111111;
}

/* highlight the current active navbar link */
nav a .active{
    background-color: #4CAF50;
}

/* smooth scrolling for anchor links */
html{
    scroll-behavior: smooth;
}

/* entire website */
body{
    background-color: #181a1b;
    color: white;
    margin: 0;
    font-family: cursive;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

/* all links */
a{
    text-decoration: none;
    color: white;
}