*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* smooth scrolling for anchor links */
html{
    height: 100%;
}

/* entire website */
body{
    background-color: #181a1b;
    color: white;
    height: 100%;
    overflow: hidden;
    font-family: cursive;
    /* color theme */
    --theme-color: #FFB606;
    --black-color: #1C1C1C;
    --gray-color: #3B3B3B;
    /* gets value of navbar items from a javascript function */
    --navbar-items: 4;
    /* navbar height variable | so I can modify the value in only one place */
    --navbar-height: 60px;
}

/* main div inside body that contains everything */
#main{
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding-top: var(--navbar-height);
}

/* applies to every container div inside the body eg. landing page, all brands, all tags */
.section{
    width: 100%;
    /* adjust for fixed header by substracting navbar height */
    min-height: calc(100vh - var(--navbar-height));
    display: grid;
    place-items: start center;
    scroll-snap-align: start;
}

/* flash messages */
#flashes{
    min-height: auto;
    row-gap: 1px;
}

.flash{
    width: 100%;
    background-color: red;
    text-align: center;
}

/* page titles and subtitles */
h1, h2, h3{
    text-align: center;
}

/* navigation bar */
nav{
    overflow: hidden;
    background-color: var(--gray-color);
    position: fixed;
    width: 100%;
    height: var(--navbar-height);
    z-index: 1000;
    transition: all 0.4s ease;
    display: grid;
    grid-template-columns: repeat(var(--navbar-items), 1fr);
    place-items: center;
}    

/* navbar links */
nav a{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}    

/* text inside each nav link */
nav p{
    font-size: 1.2em;
}

/* highlight navbar page link on mouse hover */
nav a:hover{
    background-color: var(--black-color);
}    

/* highlight the current active navbar link */
nav .active{
    background-color: var(--theme-color) !important;
}    

/* home page - landing screen */
#wallpaper{
    background-image: url('/static/images/wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

#wallpaper h1{
    font-size: 8vw;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.4vw;
}

/* all links */
a{
    text-decoration: none;
    color: white;
}

/* all brands page */
/* grid of all brand info cards */
#brands-grid, #pens-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

/* card container */
.card{
    width: 100%;
    position: relative;
}

/* card */
.card-content{
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

/* card photo */
.card-photo{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background-color: var(--black-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

/* hightlight card on hover */
.card-photo:hover{
    box-shadow: 0px 0px 0px 5px var(--theme-color) inset;
}

/* card info */
.card-info{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-color: var(--black-color);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 3fr 1fr;
}

/* pens grid */
#pens-grid .card-info{
    grid-template-rows: 1fr 2fr 1fr 1fr;
}

/* card tags */
.card-tags{
    display: inline-flex;
}

.card-tag{
    padding: 0.5em;
    border: white solid 1px;
    border-radius: 1em;
}

.card-info *{
    display: flex;
    justify-content: center;
}

.card-info .title{
    text-align: center;
    align-items: center;
}

.card-info .description{
    overflow: hidden;
    padding: 0 10px;
}

.card-info .readmore{
    text-align: center;
    align-items: center;
    color: royalblue;
}

.card-info .readmore:hover{
    box-shadow: 0px 0px 0px 5px var(--theme-color) inset;
}

/* parent for edit and delete buttons */
.card-info .edit-delete{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* children of edit-delete div includes the edit and delete buttons */
.card-info .edit-delete *{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card-info .edit:hover{
    background-color: #1a81e0;
}

.card-info .delete:hover{
    background-color: #c72020;
}

/* applies only to card for adding new brands */
#add-card{
    height: 100%;
    width: 100%;
    position: relative;
}

#add-card a{
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--gray-color);
    background-image: url('/static/images/add.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#add-card a:hover{
    background-color: var(--theme-color);
}

/* individual pages */
#item-page{
    padding: 2rem;
}

#item-page-container{
    width: 100%;
    display: flex;
}

#page-photo{
    width: 50%;
    height: auto;
    padding: 1rem;
}

#page-photo img{
    max-width: 100%;
}

#page-details{
    width: 50%;
    padding: 1rem;
    height: auto;
}

/* search page */
#search{
    padding: 0 10vw;
}

/* search form */
#search #form{
    width: 100%;
}

#search #form form{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}

/* add/edit brand form */
#add-edit-brand #form{
    width: auto;
}

#add-edit-brand #form form{
    margin: auto;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    place-items: center;
}

/* form inputs */
#form p{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    padding: 0.4em;
}

#form textarea{
    min-width: 12vh;
    min-height: 6vh;
    overflow-y: scroll;
    resize: none;
}

#form select{
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

#form #desc{
    width: 100%;
    height: 100%;
}

#form #submit{
    width: 100%;
    border: none;
    padding: 15px 32px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: var(--theme-color);
}

/* all tags page */
/* carousel slideshow of all tags */
#tags-grid{
    margin: auto;
    border: 5px solid var(--theme-color);
    width: 48vw;
    height: 32vw;
    overflow: hidden;
    position: relative;
    display: flex;
}

/* carousel slideshow */
#slideshow{
    width: 100%;
    height: 100%;
    display: grid;
}

/* slide */
.slide{
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
}

.slide:hover img{
    filter: blur(20px);
    transition: all 0.4s ease-in-out;
}

.slide:hover a{
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

/* background image */
.slide img{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    filter: blur(0px);
    transition: all 0.4s ease-in-out;
}

/* title and description */
.slide a{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    display: grid;
    place-items: center;
}

.slide a p{
    display: block;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.15vw;
    text-align: center;
    font-size: 3vw;
}

/* back button */
#prev-button{
    position: absolute;
    top: 50%;
    z-index: 5;
    left: 5%;
    font-size: 60px;
    color: var(--theme-color);
    cursor: pointer;
}

/* next button */
#next-button{
    position: absolute;
    top: 50%;
    z-index: 5;
    right: 5%;
    font-size: 60px;
    color: var(--theme-color);
    cursor: pointer;
}

/* credits */
#credits-container{
    display: grid;
    place-items: center;
    max-width: 80%;
}

#credits{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#credits *{
    padding: 0.5em;
}