<div class="section" id="brands">
    <h1>All Brands</h1>
    <div id="brands-grid">
        <!-- current brands -->
        {% for brand in brands %}
        <div class="card">
            <div class="card-content" onclick="flip(this)">
                <!-- brand logo as a background image -->
                <div class="card-photo" style="background-image: url('/static/images/brands/{{ brand.photo }}')"></div>
                <!-- brand information -->
                <div class="card-info">
                    <h2>{{ brand.name }}</h2>
                    <p class="preview-text">{{ brand.desc }}</p>
                    <a href="/brand/{{ brand.id }}">Read more...</a>
                    {% if brand.deletable == true %}
                    <a href="/edit_brand/{{ brand.id }}">Edit</a>
                    <a href="/delete_brand/{{ brand.id }}">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- add new brand -->
        <div id="add-card">
            <a href="{{ url_for('add_brand') }}"></a>
        </div>
    </div>
    <div style="margin-top: 250px"></div>
</div>