{% extends 'layout.html' %}
{% block content %}
<div id="item-page">
    <!-- brand title -->
    <h1>{{ brand.name }}</h1>
    <div id="item-page-container">
        <!-- brand photo -->
        <div id="page-photo">
            <img src="/static/images/brands/{{ brand.photo }}"/>
        </div>
        <!-- brand details -->
        <div id="page-details">
            <p>{{ brand.desc }}</p>
            <br>
            <!-- list all pens for this brand -->
            <ul>
                {% for pen in brand.pens %}
                <li><a href="{{ url_for('pen', id = pen.id) }}">{{ pen.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
