<!doctype html>
<html>
    <head>
        <title>PEN{{ page_title }}</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/javascript/script.js"></script>
        <link rel="icon" type="img/png" href="/static/images/favicon.png"> 
    </head>
    <body>
        <div id="body-container">
            {% include 'nav.html' %}
            {% block content %}{% endblock %}
            {% include 'footer.html' %}
        </div>
    </body>
</html>