<!doctype html>
<html>
    <head>
        <title>PEN{{ page_title }}</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
        <script type="text/javascript" src="/static/javascript/script.js"></script>
        <link rel="icon" type="img/png" href="/static/images/favicon.png"> 
    </head>
    <body>
        <div id="main">
            {% include 'nav.html' %}
            {% block content %}{% endblock %}
            {% include 'footer.html' %}
        </div>
    </body>
</html>