<nav>
    <a href="/#home" class="navlink" id="homelink"><p>Home</p></a><!-- scroll to the top -->
    <a href="/#brands" class="navlink"><p>Brands</p></a><!-- directs user to the all brands page -->
    <a href="/#tags" class="navlink"><p>Tags</p></a><!-- directs user to the all tags page -->
    <a href="/search" id="searchlink"><p>Search Pens</p></a><!-- directs user to the search page -->
    <a href="/credits" id="creditslink"><p>Credits</p></a><!-- directs user to the credits page -->
</nav>
<div style="padding-top: 60px;"></div>