{% extends 'layout.html' %}
{% block content %}
<div id="item-page">
    <!-- pen title -->
    <h1>{{pen.name}}</h1>
    <div id="item-page-container">
        <!-- pen photo -->
        <div id="page-photo">
            <img src="{{ pen.photo }}"/>
        </div>
        <!-- pen details -->
        <div id="page-details">
            <p>{{pen.desc}}</p>
            <br>
            <!-- list all tags for this pen -->
            <ul>
                {% for tag in pen.tags %}
                <li><a href="/tag/{{ tag.id }}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
