{% extends 'layout.html' %}
{% block content %}
<!-- html page for searching the website content -->
<div class="section" style="grid-template-rows: 100px 1fr;">
  <h1>{{ title }}</h1>
  <div id="form">
    <form method="POST" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <p>Brand: {{ form.brand }} <span style="color:red">{{ form.brand.errors }}</span></p>
      <p>Tag: {{ form.tag }} <span style="color:red">{{ form.tag.errors }}</span></p>
      <input type="submit" value="Search" id="submit">
    </form>
  </div>
</div>
{% endblock %}