{% extends 'layout.html' %}
{% block content %}
<!-- html page for searching the website content -->
<div class="section" style="grid-template-rows: repeat(3, minmax(10vh, auto)) 1fr;" id="search">
  <h1 style="margin: auto;">{{ title }}</h1>
  <!-- search form -->
  <div id="form">
    <form method="POST" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <label>Brand:</label>
      <p>{{ form.brand }} {% if form.brand.errors %}<span style="color:red">{{ form.brand.errors }}</span>{% endif %}</p>
      <label>Tag:</label>
      <p>{{ form.tag }} {% if form.tag.errors %}<span style="color:red">{{ form.tag.errors }}</span>{% endif %}</p>
      <input type="submit" value="Search" id="submit">
    </form>
  </div>
  <!-- search results | display result of all pens if search not done yet -->
  {% if has_searched == true %}
  <h1 style="margin: auto;">Search results for <i>{{ tag|lower }} {{ brand }}</i> pens</h1>
  <div id="pens-grid">
    <!-- display a list of all pens found -->
    {% if results|length != 0 %}
    {% for pen in results %}
    <div class="card">
        <div class="card-content" onclick="flip(this)">
            <!-- pen photo as a background image -->
            <div class="card-photo" style="background-image: url('/static/images/pens/{{ pen.photo }}')"></div>
            <!-- pen information -->
            <div class="card-info">
                <h2 class="title">{{ pen.name }}</h2>
                <p class="description">{{ pen.desc }}</p>
                <!-- <div class="card-tags">
                  {% for card_tag in pen.tags %}
                  <p class="card-tag">{{ card_tag }}</p>
                  {% endfor %}
                  <p>{{ pen.tags }}</p>
                </div> -->
                <a class="readmore" href="{{ url_for('pen', id = pen.id) }}">Read more</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- if no pens are found for search options -->
    {% else %}
    <h2 style="color: #d83737;">No pens found</h2>
    {% endif %}
  </div>
  {% else %}
  <h1 style="margin: auto;">Showing all pens</h1>
  <div id="pens-grid">
    <!-- display a card grid of all pens -->
    {% for pen in results %}
    <div class="card">
        <div class="card-content" onclick="flip(this)">
            <!-- pen photo as a background image -->
            <div class="card-photo" style="background-image: url('/static/images/pens/{{ pen.photo }}')"></div>
            <!-- pen information -->
            <div class="card-info">
                <h2 class="title">{{ pen.name }}</h2>
                <p class="description">{{ pen.desc }}</p>
                <!-- <div class="card-tags">
                  {% for card_tag in pen.tags %}
                  <p class="card-tag">{{ card_tag }}</p>
                  {% endfor %}
                </div> -->
                <a class="readmore" href="{{ url_for('pen', id = pen.id) }}">Read more</a>
            </div>
        </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}