{% extends 'layout.html' %}
{% block content %}
<div id="item-page">
    <!-- tag title -->
    <h1>{{ tag.name }}</h1>
    <div id="item-page-container">
        <!-- tag photo -->
        <div id="page-photo">
            <img src="/static/images/tags/{{ tag.photo }}"/>
        </div>
        <!-- tag details -->
        <div id="page-details">
            <p>{{ tag.desc }}</p>
            <br>
            <!-- list all pens for this tag -->
            <ul>
                {% for pen in tag.pens %}
                <li><a href="{{ url_for('pen', id = pen.id) }}" style="color:green;">{{ pen.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
